*{
    margin:0;
    padding:0;
}
$muted-color:#656565;
$bg-color:#f1f2f4;
.price-ticket{
    position:absolute;
    right:0;
    padding:8px;
    border:1px solid;
    border-right:none;
    width:120px;
    background-color:rebeccapurple;
    color:white
}
.profile-img-container{
    background-color:grey;
    width:180px;
    height:120px
}
.card-title{
    margin-left:5px;
}
.keyword-card{
    padding:10px 5px;
    border-radius: 12px;
    border:1px solid white;
    color:#375e80;
    background-color:#f6f6f6;
    margin-left:5px;
font-size:12px;
span{
    padding:5px;
   user-select: none;
}
&:hover{
    background-color:#375e80;
    color:white;
    text-decoration: none;
}
}
.muted{
    color:$muted-color!important;
}
small{
    font-size: 12px;
    line-height: 1.5;
}
.card{
    .link-header{
        color:black;
        &:hover{
            color:#3c822a;

        }
    }
}


.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width:17%;
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  left: 0;
  background-color: rgb(255, 255, 255); /* Black */
  overflow: hidden; /* Disable horizontal scroll */
  box-shadow: 3px 0 5px -2px #888;
  padding-top: 20px;
   a {
  padding: 20px 8px 25px 8px;
  text-decoration: none;
  text-align: center;
  font-size: 25px;
  color: #818181;
  display: block;
  &:hover{
      color:#818181;
      text-decoration: none;
  }
}
}

.menu{
    z-index:2;
    display:flex;
    background-color:white;
    padding:15px;
    justify-content:space-between
}
#root{
    background-color:$bg-color;
    height:100vh
}